@{
    ViewData["Title"] = "SignIn";

}
<h1>Sign In</h1>
<form action="SignIn" method="post">
    <fieldset>
        <div>Username:</div>
        <input name="userName" />
        <div>Password</div>
        <input name="password" type="password" />
        <div></div>
        <button type="submit">Sign In</button>
    </fieldset>
</form>
